@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{margin:0;padding:0;border:0;outline:0;list-style:none;box-sizing:border-box;text-decoration:none;font-family:'Roboto';}body{background-color:#211f1f;}
hr{border:0.7px solid white;margin:16px 0;}
.header {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-burger {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 30px;
}
.burger {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  top: 50%;
}
.burger-before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  top: 20%;
}
.burger-after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  top: 80%;
}
.fa-youtube {
  font-size: 35px;
  color: #e93f33;
  position: relative;
  margin-right: 5px;
}
.fa-youtube::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  left: 35%;
  top: 35%;
  z-index: -1;
}
.header__logo {display:flex;align-items:center;}
.header__logo-name {
  color: white;
  font-weight: 300;
  letter-spacing: -1.5px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.header__logo-name span {
  font-size: 11px;
  font-weight: 100;
  position: absolute;
  top: 0;
	right: -20px;
  color: #b5b5b5;
	letter-spacing: 0;
}
.header__center {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
input{
  background: #00000000;
  width: 550px;
  color: white;
  font-size: 18px;
}
form{
  border: 1px solid #b5b5b5;
  padding: 10px 20px;
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: center;
}
.fa-keyboard {
  color: #b5b5b5;
  font-size: 21px;
}
.fa-magnifying-glass {
  border: 1px solid #b5b5b5;
  font-size: 17px;
  font-weight: 100;
  color:aliceblue;
  padding: 12px 22px;
  border-radius: 0 25px 25px 0;
  background: #b5b5b540;
}
.fa-microphone {
  margin-left: 30px;
  color: white;
  font-size: 17px;
  background: #ffffff10;
  border-radius: 256px;
  padding: 14px 16px;
  cursor: pointer;
}
.header__right {
  display: flex;
  border: 1px solid white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 150px;
}
.fa-video {
  font-size: 17px;
}
.header__right-block {
  position: relative;
}
.header__right-circle {
  position: absolute;
  background: #e93f33;
  color: white;
  padding: 2px 7px;
  font-size: 13px;
  border-radius: 256px;
  font-family: 'Roboto';
  bottom: 8px;
  left: 5px;
  border: 2px solid #211f1f;
}
.header__right-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.cont {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
}
.section1 {
  /* border: 1px solid aliceblue; */
  color: white;
}
.section1__item {
  display: flex;
}
.section1__item > i {
  font-size: 16px;
  margin-right: 8px;
  color: white;
}
.section1__item:not(:last-child) {
  margin-top: 16px;
}
h3.section1__header {
  margin-bottom: 16px;
}
.section2 {
  /* border: 1px solid aliceblue; */
}
.section1__item > .fa-youtube {
  font-size: 25px;
  color: red;
}

  .section1__item > .fa-youtube::after {
    width: 12px;
    height: 12px;
  }